{
    email admin@iseelocal.dev
}

iseelocal.dev {
    encode zstd gzip
    reverse_proxy 127.0.0.1:8080
}

*.iseelocal.dev {
    encode zstd gzip
    reverse_proxy 127.0.0.1:8080
}

api.iseelocal.dev {
    encode zstd gzip
    reverse_proxy 127.0.0.1:8081
}
